<br />
<br />
<br />
<br />
<br />
<br />

<div class="profile-header">
  <img
    src="{{chefsDet.image_Url}}"
    alt=""
    style="width: 250px; height: 250px; object-fit: cover;"
    class="profile-image"
  />
  <div class="chef-catchphrase">
    <h2>Chef {{chefsDet.name}}</h2>
    <h5 class="about-me"> {{chefsDet.catchPhrase}}</h5>
    <br />
    <p class="about-me">{{chefsDet.specialities}}</p>
    <a
      class="contact-me"
      href="mailto:{{chefsDet.email}}"
      target="_blank"
    >Contact the Chef</a>
  </div>
</div>
<div class="about-me">
  <h4>About Me</h4>
  <p>{{chefsDet.aboutMe}}</p>

</div>

<br />

<hr />

<div class="container">
  <div class="row list-of-recipes">
    <div>
      <h1 class="text-center recipe-list-title">{{chefsDet.name}} Recipes </h1>
    </div>
    {{#each recipes}}

      <div class="col-lg-3 col-md-6 col-sm-12 col-of-recipes">
        <div class="card" style="width: 19rem;">
          {{#if image_Url}}
            <img
              src="{{this.image_Url}}"
              class="card-img-top"
              style="width: 300px; height: 337px; object-fit: cover;"
              alt="..."
            />
          {{else}}
            <img
              src="/images/recipe-placeholder.jpg"
              class="card-img-top"
              style="width: 300px; height: 337px; object-fit: cover;"
              alt="..."
            />
          {{/if}}

          <div class="card-text-area-recipes">
            <h5 class="card-title">
              <a href="/recipe/{{this.id}}">{{this.name}}</a>
            </h5>

          </div>
        </div>
      </div>
    {{/each}}
  </div>

  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-5 offset-3">
<form action="/chef/{{chefsDet._id}}" method="POST" >

 <label for="floatingTextarea">Comments</label>
  <div class="form-floating">
    <textarea
      name="comments"
      class="form-control"
      placeholder="Write comment Here"
      id="floatingTextarea"
      required
    ></textarea>
     
  <button class="col-6 offset-3 create-acount">comment</button>
<br>
<br>
</form>
    </div>
  </div>
  <div class="row">
    <div class="col-5 offset-3">
{{#each comments }}
      <div>
        <p>{{this}}</p>
      </div>
      <hr>
      {{/each}}
    </div>
  </div>
</div>
<br>
<br>

