
<br />
<br />
<br />


<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/images/carousel/1.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/images/carousel/2.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="container">
  <div class="row">
    <div class="list-and-seemore">
 <h1>Chefs</h1>
     <a href="/chef/chef-list">show more</a>
    </div>
     
     {{#each chefs}}
    <div class="col-lg-3 col-md-6 col-sm-12">
   
<div class="card" style="width: 18rem;">
   {{#if image_Url}}
  <img src="{{this.image_Url}}" style=" width: 18rem; height:300px; object-fit: cover;" class="card-img-top" alt="...">
{{else}}
  <img src="/images/placeholder.png" class="card-img-top" alt="...">
  {{/if}}
  <div class="card-body">
    <div class="card-text-area">
 <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.catchPhrase}}</p>
    </div>
   <div>

    <a href="/chef/{{this.id}}" class="btn btn-light">see more</a>
   </div>
  </div>
</div>
    </div>
    {{/each}}
  </div>
     <br>
      <br>
    <hr>
   </div>
</div>
<div class="container">
    <div class="row list-of-recipes">
<div class="list-and-seemore-recipe">
 <h1>Recipes</h1>
 <a href="/recipe">show more</a>
</div>
     {{#each recipes}}
  
    <div class="col-lg-3 col-md-6 col-sm-12 col-of-recipes">
<div class="card" style="width: 19rem;">
   {{#if image_Url}}
  <img src="{{this.image_Url}}" class="card-img-top" style="width: 300px; height: 337px; object-fit: cover;" alt="...">
{{else}}
  <img src="/images/recipe-placeholder.jpg" class="card-img-top" style="width: 300px; height: 337px; object-fit: cover;" alt="...">
  {{/if}}
  
    <div class="card-text-area-recipes">
    <h5 class="card-title">
      <a href="/recipe/{{this.id}}">{{this.name}}</a>
    </h5>
  
    
    
  </div>
</div>
    </div>
    {{/each}}
  </div>
</div>























