
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container ">
  <div class="row">
    <div class="col-lg-4 ">
<h1 style="  font-weight: 600;  margin-bottom: 30px;">
  Profile Setting
</h1>
{{#if name}}
<form action="/user/{{_id}}/settings" method="POST" enctype="multipart/form-data">

  {{#if isProfilePublic}}
  <h4>Set your informations</h4>
  <br>

  <div class="input-group mb-3">
    <p>Upload your profile picture</p>
    <div>
  <input type="file" class="form-control" name="image_Url"  accept="image/*" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
</div>


    <div class="col">
      <label>Name
        <br>
        <input name="name" type="text" class="form-control" value="{{name}}" aria-label="user name"
          required />
      </label>
    </div>
  
  <br>
  <label for="floatingTextarea"> Specialities</label>
  <div class="form-floating  mb-3">

    <textarea rows="1" name="specialities" class="form-control" value="{{specialities}}"
      id="floatingTextarea"></textarea>

  </div>
  <br>
  <label>Share us your catch phrase:</label>
  <div class="form-floating mb-3">

    <textarea rows="1" name="catchPhrase" class="form-control" value="{{catchPhrase}}"></textarea>

  </div>
  <br>
  <label>About me</label>
  <div class="form-floating">

    <textarea rows="10" name="aboutMe" class="form-control" value="{{aboutMe}}"></textarea>

  </div>
  {{else}}
 
  <h2>Set your informations</h2>
   <div class="input-group mb-3">
    <p>Upload your profile picture</p>
    <div>
  <input type="file" class="form-control" name="image_Url"  accept="image/*" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
</div>

  <div class="row">
    <div class="col">
      <label>Name
        <br>
        <input name="name" type="text" class="form-control" value="{{name}}" aria-label="user name"
          required />
      </label>
    </div> 
{{/if}}
    <button class="create-acount">Save Changes</button>

</form>


{{else}} 
<form action="/user/{{_id}}/settings" method="POST" enctype="multipart/form-data">
 <div class="container">
    <div class="row">
      <div class="col">
         {{#if isProfilePublic}}
  <h2>Set your informations </h2>
   <div class="input-group mb-3">
    <p>Upload your profile picture</p>
    <div>
  <input type="file" class="form-control" name="image_Url"  accept="image/*" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
</div>

  <div class="row">
    <div class="col">
      <label>Name
        <br>
        <input name="name" type="text" class="form-control" placeholder="Write your name here" aria-label="user name"
          required />
      </label>
    </div>
  </div>
  <br>
  <label for="floatingTextarea"> Specialities</label>
  <div class="form-floating"> 

    <textarea name="specialities" class="form-control" placeholder="Write your Specialities Here"
      id="floatingTextarea"></textarea>

  </div>
  <br>
  <label>Share us your catch phrase:</label>
  <div class="form-floating">

    <textarea name="catchPhrase" class="form-control"   placeholder="Cooking is live...."></textarea>

  </div>
  <br>
  <label>About me</label>
  <div class="form-floating">

    <textarea name="aboutMe" class="form-control" placeholder="About me...."></textarea>

  </div> 
  {{else}}
  <h2>Set your informations</h2>
  <div class="input-group mb-3">
    <p>Upload your profile picture</p>
    <div>
  <input type="file" class="form-control" name="image_Url"  accept="image/*" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
</div>

  <div class="row">
    <div class="col">
      <label>Name
        <br>
        <input name="name" type="text" class="form-control" placeholder="Write your name here" aria-label="user name"
          required />
      </label>
    </div> 
  {{/if}}
    <button class="create-acount">Save Changes</button>

      </div>
    </div>
  </div>
 
</form>
{{/if}} 


    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />