
<hr>
<h3>{{recipeDetail.name}}</h3>
<h5>Ingredients : {{recipeDetail.ingredient}}</h5>
<p>Description : {{recipeDetail.description}}</p>
<h5>Diatery :</h5>
{{#each recipeDetail.dietary}}
<span>{{this}} |</span>
{{/each}}
<a href="/">Back to Home page</a>

<br>

{{#if isTheSame}}

<a href="/recipe/{{recipeDetail._id}}/edit">Edit Recipe</a>
<br>
<br>
<form action="/recipe/{{recipeDetail._id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>

{{/if}}

{{#if likeIt}}

<form action="/recipe/{{recipeDetail._id}}" method="POST">
{{!-- <input type="hidden" value="{{_id}}" name="favRecipe"> --}}
<button type="submit" value="{{recipeDetail._id}}"  name="favRecipe" >like it!</button>
</form>

{{else}}
<form action="/recipe/{{recipeDetail._id}}" method="POST">
{{!-- <input type="hidden" value="{{_id}}" name="favRecipe"> --}}
<button type="submit" value="{{recipeDetail._id}}"  name="favRecipe" >Unlike it!</button>
</form>
{{/if}}