
<hr>
<h3>List of Recipes</h3>
<br>
{{#each recipes}}
{{#if image_Url}}
<img class="recipe-image" src="{{this.image_Url}}" alt="">
{{else}}
<img class="recipe-image" src="/images/recipe-placeholder.jpg" alt="">
{{/if}}
<h3>{{this.name}}</h3>
<span>{{this.dietary}} |</span>
<a href="/recipe/{{this.id}}">see full recipe</a>
<hr>
{{/each}}

