<br />
<br />
<br />
<br />
<br />
<br />



<form action="/recipe/{{_id}}/edit" method="POST" enctype="multipart/form-data">
  <label for="img">Upload your recipe image</label>
  <input type="file" id="img" name="image_Url"  accept="image/*" >
  <div class="row">
    <div class="col">
      <input
        name="name"
        value="{{name}}"
        type="text"
        class="form-control"
        placeholder="Recipe name"
        aria-label="Recipe name"
        required
      />
    </div>
    <div class="col">
      <input
        name="ingredient"
        type="text"
        value="{{ingredient}}"
        class="form-control"
        placeholder="Ingredients"
        aria-label="Ingredient"
        required
      />
    </div>
  </div>
  <br>
         <label for="floatingTextarea">Description</label>
 <div class="form-floating">

    <textarea
      name="description"
      class="form-control"
      value="{{description}}"
      placeholder="Write Description Here"
      id="floatingTextarea"
      required
    >{{description}}</textarea>

  </div>
<br>

  <div>
    <select name="dietary" value="{{dietary}}" class="form-select" required  multiple>
      <option selected>select dietary</option>
        <option name="dietary" value="Lactose intolerance">Lactose intolerance</option>
        <option name="dietary" value="Gluten intolerance or sensitivity">Gluten intolerance or sensitivity</option>
        <option name="dietary" value="Vegetarian">Vegetarian</option>
        <option name="dietary" value="Vegan">Vegan</option>
        <option name="dietary" value="Kosher">Kosher</option>
        <option name="dietary" value="Keto">Keto</option>
        <option name="dietary" value="Diabetes">Diabetes</option>
        <option name="dietary" value="Dairy-free">Dairy-free</option>
        <option name="dietary" value="Low carb">Low carb</option>
        <option name="dietary" value="Food allergies"></option>Food allergies</option>
    </select>
  </div>
<br>
  <button>Edit Recipe</button>

</form>