<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-lg-4">


<form action="/recipe/{{_id}}/edit" method="POST" enctype="multipart/form-data">

  <div class="input-group mb-3">
    <p>Upload your recipe image</p>
    <div>
  <input type="file" class="form-control recipe-image" name="image_Url"  accept="image/*" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
</div>
<br>

    <div class="col-12">
      <label for="">
        Recipe name
      </label>
      <input
        name="name"
        value="{{name}}"
        type="text"
        class="form-control"
        placeholder="Recipe name"
        aria-label="Recipe name"
        required
      />
    </div>
    <br>
    <div class="col-12">
           <label for="">Ingredients</label>
      <input
        name="ingredient"
        type="text"
        value="{{ingredient}}"
        class="form-control"
        placeholder="Ingredients"
        aria-label="Ingredient"
        required
      />
    </div>

  <br />
  <label for="floatingTextarea">Description</label>
  <div class="form-floating">

    <textarea
      name="description"
      class="form-control"
      value="{{description}}"
      placeholder="Write Description Here"
      id="floatingTextarea"
      required
    >{{description}}</textarea>

  </div>
  <br />
  {{#each dietary}}
    <input type="checkbox" name="{{this}}" value="{{this}}" />
    <label>{{this}}</label><br />
  {{/each}}
   <br />
  <button class="col-6 offset-3 create-acount">Edit Recipe</button>

</form>

    </div>
  </div>
</div>
