<br />
<br />
<br />
<br />
<br />
<br />


  <div class="container">
    <div class="row">
      <div class="col">
      <h1 class="text-center recipe-list-title"> All {{dietary}} Recipes</h1>
  
<div class="dietery-container">
 {{#each dieteryArr}}
  <div><a class="dietry-links" href="/recipe/search/{{this}}"> {{this}} </a></div><br><br><br>
  {{/each}}
</div>
 
      </div>
    </div>
  </div>


<div class="container">
  <div class="row list-of-recipes">
    
<br><br><br><br>
    {{#each recipes}}
      <div class="col-lg-3 col-md-6 col-sm-12 col-of-recipes">
        <div class="card" style="width: 19rem;">
          {{#if image_Url}}
            <a href="/recipe/{{this.id}}">
              <img
                src="{{this.image_Url}}"
                class="card-img-top card-img-top-hover"
                style="width: 300px; height: 337px; object-fit: cover;"
                alt="..."
              />
            </a>

          {{else}}
            <a href="/recipe/{{this.id}}">
              <img
                src="/images/recipe-placeholder.jpg"
                class="card-img-top card-img-top-hover"
                style="width: 300px; height: 337px; object-fit: cover;"
                alt="..."
              />
            </a>
          {{/if}}

          <div class="card-text-area-recipes">
            <h5 class="card-title">
              <a href="/recipe/{{this.id}}">{{this.name}}</a>
            </h5>

          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>